# Visual Studio build folders
.vs/
x64/
x86/
Debug/
Release/
*.VC.db
*.VC.opendb
*.obj
*.log
*.tlog/
*.idb
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.ipch

# Visual Studio project files
*.suo
*.user
*.userosscache
*.sln.docstates

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Other
*.tmp
*.bak
*.old
*.cache
*.opendb

# Logs and config
server.log
config.txt

# System files
Thumbs.db
desktop.ini

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user